* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 20px 20px;
}
header {
  display: flex;
  justify-content: center;
  background-color: grey;
  padding: 40px 20px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.aside {
  background-color: grey;
  width: 20%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article {
  width: 75%;
  background-color:grey;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
}
.img-box img {
 max-width: 100%;
 height: 200px;
 
}

.img-box {
 display: flex;
gap: 35px;
padding-bottom: 20px;
justify-content: space-between;
height: 50%;
  
}
.image-item {
  width: 33%;
margin: auto;
}

.footer-menu {
  display: flex;
  justify-content: center;
  background-color: grey;
  padding: 40px 20px;
  margin-top: 20px;
}
